<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <ng-container *ngIf="isAuthenticated">
                <pb-menu-item *ngFor="let e of items"
                    [id]="e.id"
                    [link]="e.link"
                    [text]="e.text"
                    [isActive]="e.isActive"
                    (clicked)="itemClicked($event)">
                </pb-menu-item>
                <pb-menu-item
                    id="10"
                    link="/logout"
                    text="Logout"
                    isActive="false"
                    (clicked)="logout($event)">
                </pb-menu-item>
            </ng-container>
            <ng-container *ngIf="!isAuthenticated">
                <pb-menu-item
                    [id]="3"
                    [link]="'/auth'"
                    [text]="'Login'"
                    [isActive]="false"
                    (clicked)="itemClicked($event)">
                </pb-menu-item>
            </ng-container>
        </ul>
    </div>
</nav>
